<% provide(:title, 'About Us') %>
<h1>このシステムについて</h1>
<div>
  <p>このシステムはとあるサイトを参考に作成したシステムです。
    基本的には某SNSのようなシステムの作成を目指しました。
    個人で作成したため、バグや不具合が多数あると思いますが、まあ是非もないよね！！
  </p>
</div>

<div>
  <h3>布教用URL</h3>
  <p>
    <div>
      ・<a href="http://fate-go.jp" target="_blank">Fate/Grand Order</a>
    </div>
    ・<a href="http://www.shonenjump.com/j/sp_kimetsu/" target="_blank">鬼滅の刃</a>
  </p>
</div>
