<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      <%= pluralize(object.errors.count, "") %>個のエラーが発生しました !!
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
