<footer class="footer">
  <small>
    <a href="http://railstutorial.jp/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "Tweet/Likeとは",  about_path %></li>
      <li><%= link_to "お問合わせ", contact_path %></li>
      <li><a href="http://news.fate-go.jp/" target="_blank">ニュース</a></li>
    </ul>
  </nav>
</footer>
